body{
    text-align: center;
    font-family: 'Arial';
    background-color:lightblue
}

img{
    width:325px
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

